<br />
<div class="row">
	<div class="col-md-12 text-center">
		<h1>YOU'VE BEEN HACKED!!!</h1>
		<%= image_tag 'mike.png', class: "img-responsive hacked-image" %>
		<br />
		<%= link_to "HACK OTHERS", root_path, class: "btn btn-red" %>
	</div>
</div>